                                body {
                                    background-color: rgb(161, 193, 161);
                                }
                                
                                .all {
                                    display: inline-flex;
                                    margin: 1%;
                                    gap: 10px;
                                }
                                
                                .header {
                                    text-align: center;
                                    background-color: rgb(206, 232, 206);
                                }
                                
                                .header button {
                                    background-color: rgb(161, 193, 161);
                                }
                                
                                .header button:hover {
                                    transition: 0, 3s;
                                    color: white;
                                }
                                
                                .section {
                                    background-color: rgb(206, 232, 206);
                                }
                                
                                .aside {
                                    background-color: rgb(206, 232, 206);
                                }
                                
                                .main {
                                    display: flex;
                                    grid-template-columns: auto;
                                    gap: 20px;
                                    margin: 1%
                                }
                                
                                .Semantic {
                                    background-color: rgb(206, 232, 206);
                                }
                                
                                .focused {
                                    background-color: rgb(206, 232, 206);
                                }
                                
                                .footer {
                                    padding: 22px;
                                    text-align: center;
                                    background-color: rgb(206, 232, 206);
                                }