        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        * {
            margin: 0%;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }
        
        body {
            background-color: rgb(48, 48, 95);
            font-family: "Poppins";
        }
        
        .header__svg h1 {
            color: #eeeeee;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem auto;
            max-width: 1200px;
        }
        
        .navgtion ul {
            display: flex;
            list-style: none;
            gap: 4rem;
            margin: 19px;
        }
        
        .navgtion a {
            text-decoration: none;
            color: aliceblue;
        }
        
        .navgtion a:hover {
            color: pink;
        }
        
        .header__svg img {
            width: 100px;
        }
        
        .hr {
            opacity: 4px;
        }
        
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5rem auto;
            max-width: 1200px;
        }
        
        .arrow {
            position: absolute;
            transform: translateX(-5.6rem)translateY(1.5rem);
        }
        
        .heroSub {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        
        .name {
            font-size: 33px;
            color: pink;
        }
        
        .title {
            font-size: 4rem;
            color: #eeee;
        }
        
        .heroBtus {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
        }
        
        .hireMe {
            color: #eeee;
            background-color: rgb(84, 92, 111);
            border-radius: 24px;
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            text-shadow: 0px 4px 4px;
        }
        
        .cv {
            background-color: rgb(84, 92, 111);
            color: aliceblue;
            border-radius: 24px;
            text-decoration: none;
            padding: 0.5rem 1.5rem;
            align-items: center;
            gap: 0.5rem;
            backdrop-filter: blur(4px);
        }
        
        .aboutMe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 13px;
        }
        
        .textContainer {
            display: flex;
            flex-direction: column;
        }
        
        .textTitle {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 2rem;
        }
        
        .aboutName {
            color: aliceblue;
        }
        
        .aboutTitle {
            color: pink;
        }
        
        .aboutMePar {
            text-align: justify;
            color: #eeee;
        }
        
        .contactContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            margin: 2rem auto;
            max-width: 1200px;
        }
        
        .contactTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-bottom: 10px;
            font-size: 2rem;
        }
        
        .contact {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5rem;
            gap: 20rem;
        }
        
        .contact h3,
        .contact a {
            color: #eeeeee;
            text-decoration: none;
        }
        
        .emailAndPhone {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
        
        footer {
            font-size: large;
            color: #eeeeee;
            padding: 2rem;
            text-align: center;
        }
        
        @media (max-width: 600px) {
            header {
                margin-left: 1rem;
                margin-right: 1rem;
            }
            .hero {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }
            .heroImg {
                width: 400px;
            }
            .name,
            .title {
                font-size: 2rem;
            }
            .arrow {
                display: none;
            }
            .aboutMe {
                flex-direction: column-reverse;
                align-items: center;
                gap: 2rem;
            }
            .textContainer {
                align-items: center;
                margin: 0rem 5rem;
                gap: 1rem;
            }
            .aboutName,
            .aboutTitle {
                font-size: 2rem;
            }
            .light {
                width: 60px;
            }
            .aboutMeImg {
                width: 400px;
            }
            .works {
                padding: 0;
            }
            .worksContainer {
                padding: 5rem 0rem;
                gap: 3rem;
            }
            .projectTitle {
                margin-left: 1rem;
            }
            .works ul {
                flex-direction: column;
                gap: 1rem;
            }
            .contactContainer {
                margin: 10rem 5rem;
                gap: 2rem;
            }
            .contact {
                flex-direction: column;
                gap: 1rem;
                margin-right: 0;
            }
        }