body {
    background-color: rgb(161, 193, 161);
}

.all {
    display: flex;
    grid-template-columns: auto;
    gap: 10px;
}

.header {
    border-radius: 200px;
    height: 2%;
    text-align: center;
    background-color: rgb(206, 232, 206);
}

.header button {
    background-color: rgb(161, 193, 161);
    border-radius: 200px;
}

.header button:hover {
    color: white;
}

.section {
    border-radius: 100px;
    width: 500px;
    background-color: rgb(206, 232, 206);
}

.aside {
    border-radius: 100px;
    width: 500px;
    background-color: rgb(206, 232, 206);
}

.main {
    display: flex;
    grid-template-columns: auto;
    gap: 10px;
}

.Semantic {
    border-radius: 100px;
    width: 600px;
    background-color: rgb(206, 232, 206);
}

.focused {
    border-radius: 100px;
    width: 600px;
    background-color: rgb(206, 232, 206);
}

.footer {
    gap: 20px;
    border-radius: 200px;
    height: 2%;
    text-align: center;
    background-color: rgb(206, 232, 206);
}